<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Error</title>
    <style type="text/css" media="all">
      h1{
        text-align: center;
        margin: 15px;
      }
      p{
        text-align: center;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1><%= message %></h1>
    <p><%= sucess %></p>
  </body>
</html>