<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/img/icon.png" type="image/png" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="/js/console.js" type="text/javascript" charset="utf-8"></script>
      <link rel="stylesheet" href="/css/style.css" title="styles" type="text/css" />
      <script src="js/script.js" type="text/javascript" charset="utf-8" async="1"></script>
    <title>InstaLoader</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <p>InstaLoader</p>
        </div>
        <ul class="nav-items">
          <a href="/"><li>Home</li></a>
          <a href="https://www.instagram.com/itz_yash_malik__/"><li>Follow</li></a>
        </ul>
        <div class="menu-btn">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px" ><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg>
        </div>
      </nav>
    </header>
    <section>
      <div class="formBox">
        <input type="text" id="url" placeholder="Enter URL Here"/>
        <br />
        <button type="submit" onclick="Download()">Download</button>
      </div>
      <div class="some-info">
        <h4>What is InstaLoader ??</h4>
        <div class="content">
          <p>InstaLoader is An App.And its Build with html css and javascript.This App Backend Are Written in NodeJs. This App Allow You To Download Media From Insgram.</p>
          <p>Instagram[a] is an American photo and video sharing social networking service founded in 2010 by Kevin Systrom and Mike Krieger, and later acquired by Facebook Inc.. The app allows users to upload media that can be edited with filters and organized by hashtags and geographical tagging. Posts can be shared publicly or with preapproved followers. Users can browse other users' content by tag and location, view trending content, like photos, and follow other users to add their content to a personal feed.</p>
        </div>
      </div>
    </section>
  </body>
</html>